html {
  background-color: black;
  color: white;
}
.moveleft{
  margin-right: 410px;
}
.footer .right span {
    margin-right: 10px;
}

.footer .right a img {
    margin-left: 20px;
}
.footer {
  background-color: #111111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .left {
  margin-left: 500px;
}
.footer .right {
  display: flex;
  align-items: center;
}
/* Apply styles to the Learn More link only */
h5 a:link, h5 a:visited {
  margin: 10px;
  background-color: #00b2ff;
  color: black;
  padding: 7px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
}

h5 a:hover, h5 a:active {
  background-color: #00a8c6 ;
}
h1 a:link, h1 a:visited {
  background-color: #00b2ff;
  color: black;
  padding: 7px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  font-weight: 600;
  width: 435px;
  float: center;
  margin-right: 10px;
}

h1 a:hover, h1 a:active {
  background-color: #00a8c6 ;
}
.topnav {
  background-color: #00b2ff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 750;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #00a8c6;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0097b2;
  color: white;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
h5 strong {
  font-weight: 800; 
}
#gearlist1 img {
  height: 200px;
  aspect-ratio: 16/9;
  padding-left: 20px;
}
#gearlist1 {
  font-size: 23px;
  display: flex;
  vertical-align: top;
  background-color: #1c1c1c;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  width: 97.85%;
  text-align: right;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
}
#gearlist1 strong {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
#gearlist2 img {
  height: 200px;
  aspect-ratio: 16/9;
  padding-right: 20px;
}
#gearlist2 {
  font-size: 23px;
  display: flex;
  vertical-align: top;
  background-color: #1c1c1c;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 20px;
  width: 97.85%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}
#gearlist2 strong {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
#gearlist3 img {
  height: 200px;
  aspect-ratio: 9330/7000;
  padding-left: 20px;
}
#gearlist3 {
  font-size: 23px;
  display: flex;
  vertical-align: top;
  background-color: #1c1c1c;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  width: 97.85%;
  text-align: right;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
}
#gearlist3 strong {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
#gearlist4 img {
  height: 200px;
  aspect-ratio: 16/9;
  padding-right: 20px;
}
#gearlist4 {
  font-size: 23px;
  display: flex;
  vertical-align: top;
  background-color: #1c1c1c;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 20px;
  width: 97.85%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}
#gearlist4 strong {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
#gearlist5 img {
  height: 200px;
  aspect-ratio: 9330/7000;
  padding-left: 20px;
}
#gearlist5 {
  font-size: 23px;
  display: flex;
  vertical-align: top;
  background-color: #1c1c1c;
  height: 250px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  width: 97.85%;
  text-align: right;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
}
#gearlist5 strong {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
#gearlist6 img {
  height: 200px;
  aspect-ratio: 16/9;
  padding-right: 20px;
}
#gearlist6 {
  font-size: 23px;
  display: flex;
  vertical-align: top;
  background-color: #1c1c1c;
  height: 250px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 20px;
  width: 97.85%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}
#gearlist6 strong {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
#gearlist7 img {
  height: 200px;
  aspect-ratio: 9330/7000;
  padding-left: 20px;
}
#gearlist7 {
  font-size: 23px;
  display: flex;
  vertical-align: top;
  background-color: #1c1c1c;
  height: 250px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  width: 97.85%;
  text-align: right;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
}
#gearlist7 strong {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
#gameslist1 {
  font-size: 23px;
  display: flex;
  vertical-align: top;
  background-color: #1c1c1c;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  width: 98.7%;
  margin-top: 10px;
}
#gameslist1 strong {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
#gameslist1 a:link, #gameslist1 a:visited {
  background-color: #00b2ff;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px
}
#gameslist1 a:hover {
  background-color: #00a8c6 ;
}
#gameslist1 a:active {
  background-color: #00a8c6 ;
}
#gameslist2 {
  font-size: 23px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  background-color: #1c1c1c;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 20px;
  width: 98.7%;
  text-align: right;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
#gameslist2 a:link, #gameslist2 a:visited {
  background-color: #00b2ff;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px
}
#gameslist2 a:hover, #gameslist2 a:active {
  background-color: #00a8c6;
}
#gameslist2 strong {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
#gameslist3 {
  font-size: 23px;
  display: flex;
  vertical-align: top;
  background-color: #1c1c1c;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  width: 98.7%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#gameslist3 a:link, #gameslist3 a:visited {
  background-color: #00b2ff;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px
}
#gameslist3 a:hover, #gameslist3 a:active {
  background-color: #00a8c6;
}
#gameslist3 strong {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
#gameslist4 {
  font-size: 23px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  vertical-align: top;
  background-color: #1c1c1c;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 20px;
  width: 98.7%;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
#gameslist4 a:link, #gameslist4 a:visited {
  background-color: #00b2ff;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px
}
#gameslist4 a:hover, #gameslist4 a:active {
  background-color: #00a8c6 ;
}
#gameslist4 strong {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
#gameslist5 {
  font-size: 23px;
  display: flex;
  vertical-align: top;
  background-color: #1c1c1c;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  width: 98.7%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#gameslist5 a:link, #gameslist1 a:visited {
  background-color: #00b2ff;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px
}
#gameslist5 a:hover, #gameslist1 a:active {
  background-color: #00a8c6 ;
}
#gameslist5 strong {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
body {
  margin: 0px 0px; 
}
#shortparagraph {
  width: 1200px;
  margin: 0 auto;
  display: block;
  font-size: 19px;
}
/* Heading styles */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
}

h5 {
  font-size: 18px;
  margin: 20px;
}