.topnav {
  background-color: rgb(172 31 35);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #9d1d21;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(116 21 24);
  color: white;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
body {
  margin: 0px 0px;
}
#bob {
  margin: 10px 10px;
  text-align: center;
  img{
  border-radius: 12.5px;
  }
}
h1 {
  font-size: 40px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}
h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}
h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}
h4 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
h5 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  }
h6 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  }
#kittens {
  text-align: center;
}
#contacts {
  font-size: 0px; 
}
#cat{
  padding: 0.5%;
  margin:1%; /*padding adds space AROUND the div*/
  background-color: black;  
  color: white;
}
.videowrapper iframe{
  
  width: 40%;
  aspect-ratio: 16 / 9;
  margin:1%;
  display: inline-block; /*displays these elements next to each other*/
}