body {
  font-family: sans-serif;
  background-color: #969696;
}

.box {
  width: 300px;
  margin: 100px auto;
  background: #d4d4d4;
  padding: 20px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}